@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #ffffff;

  font-family: var(--font-wix), Arial, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}